<div class="calendar">
    <div class="calendar-day">
        <h3>Today</h3>
        <div class="day-events">
            <div class="event">
                <div class="time-range">
                    <div class="start">2:00pm</div>
                    <div class="end">4:00pm</div>
                </div>
                <div class="event-details">
                    Get a great gift for Finite for Christmas.  This is an
                    extremely important task.  Something like a Tesla S would
                    be great!  Or even the mythical Ryzen 5950x.
                </div>
            </div>
            <div class="event">
                <div class="time-range">
                    <div class="start">2:00pm</div>
                    <div class="end">4:00pm</div>
                </div>
                <div class="event-details">
                    Get a great gift for Finite for Christmas.
                </div>
            </div>
            <div class="event">
                <div class="time-range">
                    <div class="start">2:00pm</div>
                    <div class="end">4:00pm</div>
                </div>
                <div class="event-details">
                    Get a great gift for Finite for Christmas.
                </div>
            </div>
            <div class="event">
                <div class="time-range">
                    <div class="start">2:00pm</div>
                    <div class="end">4:00pm</div>
                </div>
                <div class="event-details">
                    Get a great gift for Finite for Christmas.
                </div>
            </div>
        </div>
    </div>
    <div class="calendar-day">
        <h3>Tomorrow</h3>
        <div class="day-events">
            <div class="event">
                <div class="time-range">
                    <div class="start">2:00pm</div>
                    <div class="end">4:00pm</div>
                </div>
                <div class="event-details">
                    Get a great gift for Finite for Christmas.
                </div>
            </div>
        </div>
    </div>
</div>