:host {
    ken-burns-carousel {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}

.images {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.image-holder {
    position: absolute;
    background-color: #000000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 90;
    animation: ease-in fadeIn;
    will-change: transform;
    &.next {
        z-index: 101;
    }
    &.fadeOut {
        animation: ease-out fadeOut;
    }
}

.img-fill {
    object-fit: contain;
}

.test {
    z-index: 99;
    position: absolute;
    left: 10px;
    top: 10px;
    width: 50px;
    height: 50px;
    background-color: #990000;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        z-index: 100;
    }
    99% {
        opacity: 1;
        z-index: 100;
    }
    100% {
        z-index: 90;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
